div.title {
  margin:1rem auto;
  font-size:2.5rem;
  font-weight:900;
}
.container {
    display:flex;
    flex-direction:column;
    width:90%;
    margin:0 auto;
  }
  quiz-page::part(*) {
    border-radius:30%;
    background-color: gray;
    color:white;
    font-weight:900;
  }
  quiz-page::part(answer) {
    background-color:darkseagreen;
    color: red;
    font-weight:900;
    width: 5rem;
    height:2rem;
    text-align:center;
    line-height:2rem;
    border:2px solid black;
    border-radius:25%;
    cursor:pointer;
  }
  quiz-page::part(default) {
    font-style:italic;
  }
